@import 'styles/mixins.scss';

.imgContainer {
  display: grid;
  width: 100%;
  gap: 2rem;

  @include md {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
  }
  // repeat(auto-fill, 1fr);
  // grid-template-rows: repeat(auto-fill, 1fr);
  justify-items: center;
}

.imgWrapper {
  position: relative;
  width: 290px;
  height: 435px;
  @include xs {
    width: 400px;
    height: 600px;
  }
  @include md {
    width: 245px;
    height: 368px;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    );
  }
}
.imgText {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--vlad);
  font-size: 2rem;
  z-index: 2;
  color: #ffffff;
  white-space: nowrap;
}
