@import 'styles/mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  height: min-content;
  position: relative;
  background-color: var(--cardBackground);
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow);
  margin-top: 1rem;
  margin-bottom: 2rem;
  @include xs {
    margin-bottom: 3rem;
  }
}
.cardBodyWrapper {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  // padding-top: 0.25rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
