@import 'styles/media.scss';

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 1rem;
  }
}
.innerContainer {
  --numberBlockSize: 3rem;
  @include sm {
    --numberBlockSize: 5rem;
  }
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(var(--numberBlockSize), 1fr));
  @include sm {
    gap: 2rem;
    grid-template-columns: repeat(5, minmax(var(--numberBlockSize), 1fr));
  }

  a:link,
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
}

.glossyButton {
  width: var(--numberBlockSize);
  height: var(--numberBlockSize);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  background-color: #aaa;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 15px hsla(0, 0%, 100%, 1),
    /* bloom */ 0 2px 4px hsla(0, 0%, 0%, 0.7); /* drop shadow */
  border: none;
  border-radius: 50px;
  box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
    /* top light */ inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
    /* bottom shadow */ /* multiple light sources yall */ -8px 8px 5px hsla(0, 0%, 0%, 0.15),
    /* drop shadow 1 */ 5px 18px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  cursor: pointer;
  transition: transform 0.1s, box-shadow 0.1s;

  /* highlight */
  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 13px;
    right: 13px;
    top: 1px;
    height: 25px;
    border-radius: 50%;
    background: linear-gradient(hsla(0, 0%, 100%, 0.8), hsla(0, 0%, 100%, 0));
  }
  &:hover {
    transform: scale(1.05);
    box-shadow: inset 0 -5px 20px hsla(0, 0%, 0%, 0.4),
      /* top light */ inset 0 5px 20px hsla(0, 0%, 100%, 0.4),
      /* bottom shadow */ /* multiple light sources yall */ -12px 12px 5px hsla(0, 0%, 0%, 0.15),
      /* drop shadow 1 */ 10px 25px 10px hsla(0, 0%, 0%, 0.2); /* drop shadow 2 */
  }
}

.glossyButtonBlue {
  background-color: #19f;
}
.glossyButtonGold {
  background-color: #ea0;
}
.glossyButtonGreen {
  background-color: #6c6;
}
.glossyButtonRed {
  background-color: #e21;
}
