@import 'styles/mixins.scss';

.size {
  width: 100%;
  height: 200px;
  @include md {
    height: 400px;
  }
}

.a {
  color: var(--textColor);
  text-decoration: none;
}

.outerImageWrapper {
  position: relative;
  svg {
    --size: 0.75rem;
    width: calc(var(--size) + var(--svgSize));
    height: calc(var(--size) + var(--svgSize));
  }
}
.trash {
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 1;
  color: var(--fireEngineRed);
}

.innerImageWrapper {
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  background-color: var(--cardImageBackground);
  overflow: hidden;
  @extend .size;
  img {
    @extend .size;
    transition: transform 10000ms;
    &:hover {
      transform: scale(1.5);
    }
  }
}

.noImage {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend .size;
}
