.cardBodyWrapper {
  svg {
    width: var(--svgSize);
    height: var(--svgSize);
    fill: var(--borderGrey);
    color: var(--cardBackground);
    // margin-top: 1.5rem;
  }
  .physicalAddressSvg {
    fill: none;
    color: var(--borderGrey);
  }
  .checkMark {
    fill: var(--treeGreen);
  }
  .x {
    fill: var(--fireEngineRed);
  }
}

.landId {
  font-size: 0.75rem;
  text-align: center;
}

.cardBodyGrid {
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem 0rem;
  grid-template-columns: var(--svgSize) 1fr var(--svgSize);
  grid-template-rows: repeat(5, 1fr) auto;
  align-items: end;
}
.info {
  padding-left: 0.5rem;
  position: relative;
}
.label {
  // margin-top: 1rem;
  font-size: 0.75rem;
  // font-weight: 400;
  color: var(--borderGrey);
  position: absolute;
  top: -15px;
}
.address {
  display: flex;
  align-items: flex-end;
}
.text {
  color: var(--textColor);
}
.red {
  color: var(--fireEngineRed);
}
.green {
  color: var(--treeGreen);
}
.grey {
  color: var(--borderGrey);
}
.googleMap {
  margin-left: 0.5rem;
}

// phoneNumbers
.phoneSvg {
  align-self: start;
}
.phoneName {
  font-weight: bold;
}
.phoneP {
  text-indent: 1rem;
  display: flex;
  justify-content: space-between;
}
.phoneNotFound {
  position: relative;
  .phoneBook {
    fill: var(--fireEngineRed);
    display: inline;
    margin-left: 0.5rem;
    position: absolute;
  }
}
