@import 'styles/mixins.scss';

.container {
  height: 100vh;
  padding: 0 0.25rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include xl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  @include xl2 {
    gap: 3rem;
  }
}
.titleContainer {
  --size: 2rem;
  display: flex;
  justify-content: center;
  height: var(--size);
}
.title {
  color: var(--fireEngineRed);
  font-size: var(--size);
}

// animations
.leftAppear {
  transform: translateX(-100vw);
}
.leftAppearActive {
  transform: translateX(0vw);
}

.leftEnter {
  transform: translateX(-100vw);
}
.leftEnterActive {
  transform: translateX(0vw);
}

.leftExit {
  transform: translateX(0vw);
}
.leftExitActive {
  transform: translateX(-100vw);
}

.leftAppearActive,
.leftEnterActive,
.leftExitActive {
  transition: transform 1000ms;
}
