@import 'styles/mixins.scss';

.container {
  height: 100vh;
  padding: 0 0.25rem;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include xl {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
  }
  @include xl2 {
    gap: 3rem;
  }
}

// animations
.leftEnterActive {
  transform: translateX(-100vw);
}
.leftEnterDone {
  transform: translateX(0vw);
}
.leftExitActive {
  transform: translateX(0vw);
}
.leftExitDone {
  transform: translateX(-100vw);
}
.leftEnterActive,
.leftEnterDone,
.leftExitActive,
.leftExitDone {
  transition: transform 1000ms;
}
.cursorWait {
  cursor: wait;
}
.cursorArrow {
  cursor: unset;
}
