@import 'styles/mixins.scss';

.section {
  margin-bottom: 10rem;
}

.sectionTitle {
  font-family: var(--vlad);
  font-size: 2rem;
  @include xs {
    font-size: 3rem;
  }
  @include sm {
    font-size: 4rem;
  }
  margin-bottom: 2rem;
  text-align: center;
}

.footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: var(--headerBG);
  color: #ffffff;
  font-size: 0.75rem;
  span {
    font-family: var(--vlad);
    font-size: 1rem;
  }
}
